extends layout

block content
  .text-center
    .row#app
        form.form-horizontal
            fieldset
                .form-group
                    label.col-lg-2 Text 1
                    .col-lg-10
                        textarea.form-control(rows='10', v-model='app.text1')
                .form-group
                    label.col-lg-2 Text 2
                    .col-lg-10
                        textarea.form-control(rows='10', v-model='app.text2')
                .form-group
                    .col-lg-12
                        button.btn.btn-lg.btn-success(v-on:click='submit') Compare
                .form-group
                    .col-lg-12
                        textarea.form-control(rows='10', v-model='app.keywords')
        

    script(src='/js/app.js')